<div class="favorite-page" *ngIf="!(loading$ | async)">

  <div class="title">Список желаемого</div>
  <div class="favorite-page-body">
    <div class="book-list-col" *ngIf="bookList.length">

      <a @delete [routerLink]="['../book', book.bookId]" class="book" *ngFor="let book of bookList">
        <img [src]="book.thumbnail" alt="book">
        <div class="info-wrapper">
          <div class="book-title">{{book.title}}</div>
          <div class="authors">{{book.authors}}</div>
          <div class="sale-info" *ngIf="book.saleability === 'FOR_SALE'">
            <div class="price">{{book.amount + ' ' + book.currencyCode}}</div>
            <a href="#" class="buy-btn">Купить</a>
          </div>
          <div class="sale-info not-for-sale" *ngIf="book.saleability !== 'FOR_SALE'">Не для продажи</div>
        </div>
        <div class="delete-btn" (click)="onDeleteClick($event, book.bookId)">
          <img src="../../../assets/images/times-solid.svg" alt="delete">
        </div>
      </a>

    </div>

    <div class="result-info-col" *ngIf="bookList.length">
      <div class="result-wrapper">
        <div class="row result-price">{{'Общая стоимость: ' + totalPrice + 'RUB'}}</div>
      </div>
    </div>

    <div class="empty-book-list" *ngIf="!bookList.length">Список желаемого пуст</div>
  </div>

</div>
<div class="loader-wrapper" *ngIf="(loading$ | async)">
  <app-loader></app-loader>
</div>

<app-scroll-up></app-scroll-up>
