<div class="main-page" *ngIf="!(loading$ | async) || (books$ | async).length">
  <div class="book-list">
    <a [routerLink]="['book', book.id]" class="book" *ngFor="let book of books$ | async">

      <p class="title">{{book.volumeInfo.title}}</p>
      <img class="book-image" src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="img">
      <div class="author-wrapper" *ngIf="book.volumeInfo.authors">
        <p class="author-title">{{book.volumeInfo.authors.length > 1 ? 'Авторы:' : 'Автор:'}}</p>
        <span class="author" *ngFor="let author of book.volumeInfo.authors">{{author}}</span>
      </div>
      <div *ngIf="book.saleInfo.saleability === 'FOR_SALE'" class="sale-info">
        <a class="basket-link" href="#">В корзину</a>
        <div class="price">{{book.saleInfo.retailPrice.amount + " " + book.saleInfo.retailPrice.currencyCode}}</div>
      </div>
      <div class="sale-info not-for-sale" *ngIf="book.saleInfo.saleability !== 'FOR_SALE'">Не для продажи</div>

    </a>
  </div>

  <a *ngIf="!(loading$ | async)" 
     (click)="loadNextBookList($event)" 
     class="load-book" href="#"
  >Загурзить ещё</a>
  <div class="click-loader-wrapper" *ngIf="(loading$ | async) && (books$ | async).length">
    <app-loader></app-loader>
  </div>

</div>
<div class="loader-wrapper" *ngIf="(loading$ | async) && !(books$ | async).length">
  <app-loader></app-loader>
</div>