.main-page {
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fade .7s ease-in;

  .slider {
    margin-bottom: 1em;

    .advertising {
      width: 800px;
      height: 250px;
      background-color: #F4F25A;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h1 {
        margin: .5em 0;
      }
  
      p {
        margin: 0;
      }
    }
  }

  .load-book {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid black;
    transition: .3s;
  }

  .load-book:hover {
    padding: 1.2em;
    background-color: black;
    color: white;
  }
  
  .book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em 6em;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
}

.book {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  transition: .6s ease-in;
  position: relative;
  overflow: hidden;
  animation: fade .7s ease-in;

  .test {
    color: red;
  }

  .favorite-wrapper {
    position: absolute;
    top: calc(45% - 1em);
    right: -2.5em;
    transition: right .4s ease-in-out;
    
    #heart {
      width: 2em;
      color: black;
      opacity: .5;
      transition: .4s;
    }

    #heart:hover {
      width: 2.5em;
      color: red;
    }
  }

  .heart-active {
    right: 1em;

    #heart {
      opacity: 1;
      width: 2.5;
      color: red;
    }
  }

  .author-wrapper {
    .author-title {
      margin-bottom: .2em;
      text-align: start;
      font-weight: bold;
    }

    .author {
      display: block;
      text-align: start;
      font-style: italic;
    }
  }
  
  .sale-info {
    display: flex;
    align-items: center;
    margin: 1em 0;

    .buy-link {
      margin-right: .5em;
      padding: .5em;
      border: 1px solid black;
      background-color: #F4F25A;
      text-align: center;
      width: 4em;
      transition: .4s;
    }

    .buy-link:hover {
      padding: .8em;
    }
  }

  .not-for-sale {
    font-weight: bold;
  }

  .title {
    padding: 0 .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }

  .book-image {
    width: 120px;
  }
}

.book:hover {
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: .3s;
  border-radius: .5em;

  .favorite-wrapper{
    right: 1em
  }
}

.click-loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-up-wrapper {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: black;
  border-radius: 100%;
  transition: .5s, transform 0s;

  #scroll-up {
    margin: .5em;
    width: 2.5em;
    height: 2.5em;
    color: white;
  }
}

.scroll-up-wrapper:hover {
  cursor: pointer;
  transform: rotate(-360deg);
  transition: transform .5s;
}

.disabled {
  opacity: 0;
  visibility: hidden;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .main-page {
    .book-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2em 4em;
    }
  }
}