.modal-body {
  position: relative;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .email, .password, .login {
      margin: .5em;

      input {
        font-size: 1.4em;
      }
    }

    .btn-wrapper {
      margin-top: .5em;
      display: flex;
      flex-direction: column;
      height: 6em;
      justify-content: space-between;
      align-items: center;
    }
  }

  .close-btn {
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;

    img {
      width: 1em;
    }
  }

  .error-message {
    color: red;
  }
}

.login-btn {
  padding: 1em 2.5em;
  border: 1px solid black;
  transition: 0.3s ease-in;
}

.login-btn:hover {
  background-color: black;
  color: white;
  padding: 1.2em
}

.register-link {
  margin: .5em 0;
  color: blue;
}
