<div class="search-wrapper">
  <div class="search-input">
    <input #searchInput 
           type="text" 
           (blur)="onBlur($event)" 
           placeholder="Книга, серия, автор, жанр, тег">
    <a class="find-btn" href="#" (mousedown)="onSearchClick()">Найти</a>
  </div>

  <div class="search-result" *ngIf="active">
    <ul *ngIf="searchResult.length">
      <li @appear (click)="onBookClick($event)" class="book" *ngFor="let book of searchResult">
        <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="img">
        <div class="title">{{book.volumeInfo.title}}</div>
        <div *ngIf="book.saleInfo.saleability === 'FOR_SALE'" class="sale-info">
          <div class="price">{{book.saleInfo.retailPrice.amount + " " + book.saleInfo.retailPrice.currencyCode}}</div>
        </div>
        <div class="plug" *ngIf="book.saleInfo.saleability !== 'FOR_SALE'"></div>
      </li>
    </ul>
    <div class="loading-wrapper" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</div>
