.reviews-component {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  .reviews-head-wrapper {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review {
    border: 1px solid black;
    margin: .5em;
    padding: .5em;

    .review-head {
      display: flex;
      justify-content: space-between;

      .client-info {
        display: flex;
        flex-direction: column;
      }

      .client-name {
        font-weight: bold;
      }

      .client-score {
        display: flex;
      }
    }

    .review-body {
      margin: .5em 0;
    }

  }

  .star {
    width: 1em;
    height: 1em;
    margin: .25em;
  }

  .star-gold {
    color: gold;
  }

  .star-grey {
    color: grey;
  }

  .review-btn-wrapper {
    margin-right: 3em;
  }

  .load-more-btn {
    margin: 2em 0;
    display: flex;
    justify-content: center;
  }
}
