.book-details {
  margin: 1em 2.5em 2em;

  .info {
    display: flex;
    justify-content: center;
  }

  .row {
    margin-top: .5em;
  }

  .image-col {
    width: 35%;
    margin-top: 2em;
    text-align: center;
    
    img {
      width: 40%;
      margin: auto;
    }
  }

  .info-col {
    width: 75%;
    display: flex;
    flex-direction: column;

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 2em;
      margin-top: 1em;
      height: 12em;

      .btn {
        margin: .2em;
        padding: .5em;
        font-size: 1.2em;
        font-weight: bold;
        border: 1px solid black;
        display: flex;
        align-items: center;
        transition: .4s;

        .icon {
          height: 1em;
          margin-right: .5em;
        }
      }

      .btn:hover {
        padding: 1.2em;
      }
    }

    .description {
      font-size: .8em;
    }

    .about-book {
      font-weight: bold;
      font-size: 1.5em;
    }

    .title {
      font-weight: bold;
      font-size: 2em;
    }

    .authors-wrapper,
    .categories-wrapper {
      display: flex;
      
      p {
        margin: 0 .5em 0 0;
      }
    }
  }

  .other-books-author,
  .other-books-genre {
    .title {
      font-weight: bold;
      font-size: 1.5em;
    }
    
    .book-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: .5em;

      .book {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100%;
        border: 1px solid black;

        .basket-btn {
          border: 1px solid black;
          background-color: #F4F25A;
          padding: .5em;
          transition: 0.4s;
          margin-bottom: .3em;
        }

        .basket-btn:hover {
          padding: 0.8em;
        }
      }
    }
  }
}

.loader-wrapper {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}