<div class="slider" #slider>
  <div class="left arrow" (click)="onArrowClick('left')">
    <img src="../../../assets/images/arrow-down-solid.svg" alt="arrow">
  </div>
  <div class="slide"
       #slide 
       appSlide 
       [slider]="slider">
    <div class="slider-content" #sliderContent>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="right arrow" (click)="onArrowClick('right')">
    <img src="../../../assets/images/arrow-down-solid.svg" alt="arrow">
  </div>

  <div class="indicatros">
    
  </div>
</div>