.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .indicators {
    position: absolute;
    top: 85%;
    display: flex;
    opacity: .5;

    .indicator {
      width: .8em;
      height: .8em;
      border: 1px solid black;
      border-radius: 50%;
      margin: .2em
    }

    .indicator:hover {
      cursor: pointer;
    }

    .active {
      background-color: black;
    }
  }

  .slide {
    display: flex;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    overflow: hidden;

    .slider-content {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      transition: left .4s ease-out;
    }
  }

  .left {
    left: 0;

    img {
      transform: rotate(90deg);
    }
  }

  .right {
    right: 0;

    img {
      transform: rotate(-90deg);
    }
  }

  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    opacity: .3;
    transition: background-color .3s;
    z-index: 1;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    img {
      height: 2em;
    }
  }

  .arrow:hover {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
  }
}